Repository openstax/rex-web, pull requests merged in 2019-06, with the labels that each got.

#154 fix: generic styles to match cnx
  generic-styles/index.less
  src/app/content/__image_snapshots__/content-screenshotspec-ts-content-looks-right-1-snap.png
  src/app/content/__image_snapshots__/genericstyles-screenshotspec-ts-content-looks-right-1-snap.png
  src/app/content/__image_snapshots__/genericstyles-screenshotspec-ts-content-looks-right-on-mobile-1-snap.png
  src/app/content/__image_snapshots__/print-screenshotspec-ts-print-media-only-shows-the-content-1-snap.png
  src/app/content/__image_snapshots__/print-screenshotspec-ts-print-media-only-shows-the-content-when-to-c-is-collapsed-1-snap.png
  src/app/content/__image_snapshots__/print-screenshotspec-ts-print-media-only-shows-the-content-when-to-c-is-collapsed-and-then-re-expanded-1-snap.png
  src/app/content/components/Page.tsx
  src/app/content/components/__snapshots__/Content.spec.tsx.snap
  src/app/content/components/__snapshots__/PrevNextBar.spec.tsx.snap
  src/app/content/genericstyles.screenshotspec.ts
  src/test/fixtures/cms/assets/fonts/21c44514-f4d6-4cff-a5de-e4cac5e61aff.woff2
  src/test/fixtures/contents/testbook1-shortid
  src/test/fixtures/contents/testbook1-shortid:testpage12-shortid
  src/test/fixtures/contents/testbook1-uuid@1.0:testbook1-testpage12-uuid
  src/test/fixtures/resources/c7cc4c5e00a4bc07cb74f29cac2fb3c6cd6d53b5
  src/test/mocks/archiveLoader.ts
Labels: WIP

#168 fix: security alert
  yarn.lock
Labels: kd-maint

#191 Search toolbar
  src/app/content/components/SidebarControl.tsx
  src/app/content/components/Toolbar.spec.tsx
  src/app/content/components/Toolbar.tsx
  src/app/content/components/__snapshots__/Content.spec.tsx.snap
  src/app/content/search/selectors.ts
  src/app/messages/en/messages.json
Labels: kd-search

#185 feat: add search hook and integrate into history state
  src/app/content/components/ContentLink.spec.tsx
  src/app/content/components/ContentLink.tsx
  src/app/content/components/Page.spec.tsx
  src/app/content/components/Page.tsx
  src/app/content/hooks/index.ts
  src/app/content/hooks/locationChange.spec.ts
  src/app/content/hooks/locationChange/index.ts
  src/app/content/hooks/locationChange/resolveContent.ts
  src/app/content/index.ts
  src/app/content/routes.ts
  src/app/content/search/actions.ts
  src/app/content/search/hooks.spec.ts
  src/app/content/search/hooks.ts
  src/app/content/search/reducer.spec.ts
  src/app/content/search/reducer.ts
  src/app/content/search/types.ts
  src/app/content/search/utils.ts
  src/app/errors/reducer.spec.ts
  src/app/head/hooks/locationChange.spec.ts
  src/app/index.spec.tsx
  src/app/index.tsx
  src/app/navigation/actions.ts
  src/app/navigation/middleware.spec.ts
  src/app/navigation/types.ts
  src/app/navigation/utils.spec.ts
  src/app/navigation/utils.ts
  src/app/notifications/components/Notifications.tsx
  src/app/reducer.ts
  src/app/types.ts
  src/helpers/createStore.ts
  src/test/createTestServices.ts
Labels: kd-search
